.Column{
  display: flex;
  flex-direction: 'row';
  background-color: red;
  color: blue;
  width: 100px;
  height:200px
}
.Row{
  display: flex;
  flex-direction: 'row';
}
.button {background-color: #04AA6D;}

