.Day{
  background-color: skyblue;
  border-style: solid;
  width: 25px;
  height:25px
}
.Month{
  display:flex;
  background-color: beige;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}

.Page {
  display:flex;
  justify-content: center;
  background-color: aliceblue;
  flex-direction: row;
}

.Button {
  display:flex;
  justify-content: center;
}

