.Column{
  display: flex;
  flex-direction: 'column';
  background-color: blue;
  color: rgb(55, 55, 135);
  width: 100px;
  height:200px
}
.Row{
  display: flex;
  flex-direction: 'row';
}
.button {background-color: #04AA6D;}

